<div class="position-fixed d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100" style="width: 280px;">
  <a [routerLink]="['/']" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">Minha Performance</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a [routerLink]="['/home']" class="nav-link text-white" aria-current="page" [routerLinkActive]="['active']">
        Página Inicial
      </a>
      <a [routerLink]="['/my-feedback']" class="nav-link text-white" aria-current="page" [routerLinkActive]="['active']">
        Meus Feedbacks
      </a>
      <a [routerLink]="['/send-feedback']" class="nav-link text-white" aria-current="page" [routerLinkActive]="['active']">
        Enviar Feedback
      </a>
    </li>
  </ul>
  <hr>
  <app-login-menu></app-login-menu>
</div>
